@import url('https://fonts.googleapis.com/css?family=Karla');
/* You must use a DIFFERENT FONT THAT THIS ONE as your webfont */

/*************************************************
            DEFAULTS
*************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;



}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 1em;
    font-family: Karla, Helvetica, Arial, sans-serif;
    /* change this font stack to your own choices */
    line-height: 1.5;
}

p {}

img {
    width: 25%;
}

/*************************************************
            HEADER
*************************************************/
header {
    padding: 1rem 2rem;
    color: ghostwhite;
}

header > h1 {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
}

header > h2 {}

.container {
    width: 100%;


}

header {
    background-image: url("../img/hinh.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid #bee45b;
    border-width: 10px 0 0 0;
    height: 200px;
}

/*************************************************
            NAVMENU
*************************************************/
nav {
    display: flex;
    padding: 1rem 2rem;
    width: 100%;
    line-height: 30px;
    background-color: #eeeeee;

}

nav a {
    text-decoration: none;

}

nav > a,
nav > a:link {
    color: #1a0dab;
}

nav > a:visited {
    color: #660099;
}

nav > a:hover {
    color: #BEE45B;

}

nav > a:active {
    color: #ff0000;
}

nav > a:focus {
    color: #40ff00;
}


/*************************************************
            MAIN CONTENT
*************************************************/
main {
    padding: 1rem 2rem;
}

section {
    padding: 1rem 2rem;
}
s
section p {}

section h1 {
    margin-bottom: 1rem;
}

section h2 {
    margin-bottom: 1rem;

}

section p img {}

/*************************************************
            FOOTER
*************************************************/
footer {}

.foot nav {}

.foot section {}

.foot dl {}

.foot dt {}

.foot dd {}

.foot dd a,
.foot dd a:visited {
    color: #660099;
}

.foot dd a:active {
    color: #ff0000;
}

.foot dd a:focus {
    color: #40ff00;
}

.foot dd a:hover {
    border-bottom: 1px solid #000000;
    ;
}

/*************************************************
            MEDIA QUERIES for layout
*************************************************/
@media (max-width: 599px) {
    .mainnav {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
    }

    .mainnav a {
        border-bottom: 1px solid black;

    }

    section h1 {
        margin-bottom: 1rem;
        color: #bee45b;
    }

    section h2 {
        margin-bottom: 1rem;
        color: #bee45b;

    }

    section p img {
        float: left;
        margin-right: 1rem;
        width: 25%;
    }

    footer {
        display: grid;
        border: 3px solid #bee45b;
        border-width: 10px 0 0 0;
        padding: 1rem 2rem;
        height: 500px;
        background-color: #eeeeee;
    }

    .foot nav {

        display: flex;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
        grid-area: bottom;
        background-color: #eeeeee;
        grid-column: 1/ span 2;
    }

    .foot section {
        grid-column: 1/ span 2;
        background-color: #eeeeee;
        padding: 0 0;
    }

    input {
        width: 100%;
    }

    select {
        width: 100%;
    }

    #comment {
        width: 100%;
        height: 90px;
    }
}

@media (min-width: 600px) and (max-width:999px) {}

@media (min-width: 1000px) {}
